body {
  margin: 0;
  background-color: $white;
  font-family: $font-family-base;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.btn {
  min-width: 300px;
  padding: 10px 30px;
  font-family: ubuntu;
  font-size: 20px;
  font-weight: 300;
  border-radius: 30px;
  border: none;
}

.btn-default {
  color: $brand-blue;
}

.btn-primary {
  background-color: #2bb0af;

  &:hover,
  &:focus,
  &:active {
    background-color: #269a99;
  }
}


header {
  .navbar {
    background-color: $white;
  }
  
  .navbar-toggle {
    margin: 15px 15px 15px 0;
    color: $black;

    .icon-bar {
      background-color: $black
    }
  }

  .navbar-brand {
    display: block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 15px 0px 15px 15px;
    background: #2bb0af url('/images/betrack-logo-white.png') center center no-repeat;
    background-size: 25px 25px;
    border-radius: 50%;
    
    @media (min-width: $screen-md-min) {
      width: 70px;
      height: 70px;
      background-size: 35px 35px;

    }
  }
}

section.hero {
  padding-top: 50px;

  .hero-title {
    margin-top: 70px;
    font-size: 75px;
    text-align: center;
    font-weight: 400;
    color: $brand-blue;
  }

  .hero-text {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .hero-image-wrapper {
    position: relative;
  }

  .hero-scroll-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40px;
    margin: 0 auto;
  }

  .hero-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    
    @media (min-width: $screen-md-min) {
      max-width: 680px;
    }
  }
}

section.how-it-works {
  padding: 100px 0 40px;

  .cicle-image {
    display: block;
    margin: 0 auto;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none;
  }

  .benefit {
    flex: 1 0 50%;
    padding-right: 10px;
    margin-bottom: 40px;

    &:nth-child(even) {
      padding-left: 10px;
      padding-right: 0;
    }

    &:nth-child(7),
    &:nth-child(8) {
      margin-bottom: 0;
    }
  }

  .benefit-image-circle {
    float: left;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin-right: 15px;
    border: 2px solid $text-light-blue;
    border-radius: 50%;
  }

  .benefit-text {
    display: inline-block;
    float: left;
    width: calc(100% - 65px);
    font-size: 14px;
    color: $text-light-blue;
  }
}

section.dashboard {
  min-height: 100vh;
  padding-top: 50px;
  background: url(../images/dashboard-bg.png) center center no-repeat;
  background-size: cover;

  .dashboard-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 52px;
    font-weight: 300;
    color: #FFFFFF;
  }

  .dashboard-text {
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;

    b {
      font-weight: 500;
    }
  }
}

section.features {
  min-height: 100vh;
  padding-top: 50px;
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 90px;
    justify-content: space-between;
  }
  .flex-item {
    flex: 1 0 33.33%;
    text-align: center;
  }
  .feature-image {
    height: 120px;
    margin-bottom: 30px;
  }
}

section.app {
  position: relative;
  overflow: hidden;
  
  .phone-image {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 38%;
    transform: rotate(-32deg);
  }
  .container-wrapper {
    padding-top: 50px;
    padding-bottom: 140px;
    background: url('../images/app-background.png') center top no-repeat;
    background-size: cover;
  }

  .app-title{
    margin-bottom: 30px;
    font-size: 73px;
    font-weight: 300;
    text-align: right;
    color: $white;
  }

  .app-text {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    color: $white;

    b {
      font-weight: 400;
    }
  }

  .btn {
    float: right;
  }

  .bottom-ribbon {
    width: 100%;
    height: 180px;
    display: block;
    background-color: $white;
  }
}

section.contact-form {
  background-color: $brand-blue;
  padding: 50px 0 80px;

  .row {
    position: relative;
  }

  .form {
    padding-top: 10px;
  }

  .form-logo {
    position: absolute;
    max-width: 18%;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-group {
    position: relative;
    margin-bottom: 25px;
  }

  .form-control {
    height: 60px;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    font-size: 30px;
    color: white;

    &:focus ~ label,
    &:valid ~ label{
      opacity: 1;
      bottom: 45px;
      font-size: 14px;
    }
  }

  label {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    font-weight: normal;
    pointer-events: none;
    color: #FFFFFF;
    opacity: .5;
    transition:0.2s ease all; 
  }

  textarea.form-control {
    height: auto;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #FFFFFF;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #FFFFFF;
      opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #FFFFFF;
      opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #FFFFFF;
    }
  }
  button {
    float: right;
  }
}
