//Colors
$black: #000000;
$black-main: #222228;
$white: #fff;
$brand-blue: #2bb0af;
$titles-blue: #3e5160;
$text-blue: #1c3244;
$text-light-blue: #364a59;

//Fonts
$font-family-base: 'Ubuntu', helvectica, sans-seriff;

//Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;